<div class="flex flex-col m-4 border border-gray-200 rounded-lg shadow-md">
  <div class="py-2 -my-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
    <div class="flex justify-between min-w-full overflow-hidden bg-white rounded-lg">
      <div class="py-3 pl-4 text-xl"><%= @user.name %></div>
      <div class="py-3 pr-4 text-xl text-right"><%= @user.handicap %></div>
    </div>
  </div>
</div>

<div class="flex flex-col m-4 overflow-hidden border border-gray-200 rounded-lg shadow-md">
  <div class="py-2 -my-2 overflow-x-auto bg-white sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8 ">
      <%= form_with url: user_rounds_path(@user), method: :get, data: { target: "rounds "}, class: "py-2 px-3 text-right sm:px-6 flex flex-col justify-center" do |form| %>
        <%= form.select :course_id, @user.courses.pluck(:name, :id), { selected: params[:course_id].to_i, include_blank: true }, class: "mb-1 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        <%= form.date_field :start_date, value: params[:start_date]&.to_date, class: "my-1 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        <%= form.date_field :end_date, value: params[:end_date]&.to_date || Date.today, class: "my-1 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        <%= form.submit "Search", class: "inline-flex justify-center mt-1 px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      <% end %>
      <div class="w-full px-3 py-2 text-center">
        <%= link_to "Reset Search", user_rounds_path(@user) %>
      </div>
  </div>
</div>
<div class="flex flex-col m-4 border border-gray-300 rounded-lg shadow-md ">
  <div class="py-2 -my-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
    <div class="inline-block min-w-full overflow-hidden align-middle rounded-lg">
      <table class="min-w-full">
        <tbody class="bg-white">
          <%= turbo_frame_tag "rounds" do %>
            <%= render @rounds %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="fixed bottom-0 flex justify-around w-full h-12 bg-gray-700">
  <%= link_to new_user_round_path(@user) do %>
    <%= embedded_svg "../svgs/add-circle.svg", class: "h-20 w-20 flex -mt-10", stroke: "#FFFFFF", fill: "#ed8936" %>
  <% end %>
</div>
