<div class="m-4 md:container">
  <%= simple_form_for @round, url: user_rounds_path, html: { class: "bg-gray-100 w-full shadow-md rounded px-8 pt-6 pb-8 mb-4" } do |f| %>
    <%= f.input :date, required: false, html5: true, wrapper_html: { class: "mb-4" }, label_html: { class: "block text-gray-900 mb-2" }, input_html: { class: "shadow bg-gray-100 appearance-none border rounded w-full py-2 px-3 text-gray-900 leading-tight focus:bg-white focus:outline-none focus:shadow-outline" } %>
    <%= f.input :course_id, required: false, collection: Course.alaphabetical, wrapper_html: { class: "mb-4" }, label_html: { class: "block text-gray-900 mb-2" }, input_html: { class: "shadow bg-gray-100 appearance-none border rounded w-full py-2 px-3 text-gray-900 leading-tight focus:bg-white focus:outline-none focus:shadow-outline" } %>
    <%= f.input :score, required: false, wrapper_html: { class: "mb-4" }, label_html: { class: "block text-gray-900 mb-2" }, input_html: { class: "shadow bg-gray-100 appearance-none border rounded w-full py-2 px-3 text-gray-900 leading-tight focus:bg-white focus:outline-none focus:shadow-outline" } %>
    <%= f.input :rating, required: false, wrapper_html: { class: "mb-4" }, label_html: { class: "block text-gray-900 mb-2" }, input_html: { class: "shadow bg-gray-100 appearance-none border rounded w-full py-2 px-3 text-gray-900 leading-tight focus:bg-white focus:outline-none focus:shadow-outline" } %>
    <%= f.input :slope, required: false, wrapper_html: { class: "mb-4" }, label_html: { class: "block text-gray-900 mb-2" }, input_html: { class: "shadow bg-gray-100 appearance-none border rounded w-full py-2 px-3 text-gray-900 leading-tight focus:bg-white focus:outline-none focus:shadow-outline" } %>
    <%= f.input :cost, required: false, wrapper_html: { class: "mb-4" }, label_html: { class: "block text-gray-900 mb-2" }, input_html: { class: "shadow bg-gray-100 appearance-none border rounded w-full py-2 px-3 text-gray-900 leading-tight focus:bg-white focus:outline-none focus:shadow-outline" } %>
    <div class="flex justify-center">
      <%= f.button :button, class: "bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
</div>
