<div class="flex flex-col m-4 rounded-lg border-gray-300 border shadow-md">
  <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
    <div class="bg-white flex justify-between inline-block min-w-full overflow-hidden rounded-lg">
      <div class="px-6 py-3 text-xl"><%= @user.name %></div>
      <div class="px-6 py-3 text-xl"><%= @user.handicap %></div>
    </div>
  </div>
</div>

<div class="flex justify-around">
  <%= link_to new_user_round_path(@user), class: "no-underline bg-orange-500 w-1/3 px-4 py-2 text-white text-xl font-bold rounded shadow-lg text-center" do %>
      Round +
  <% end %>

  <%= link_to new_course_path, class: "no-underline bg-orange-500 px-4 py-2 w-1/3 text-white text-xl font-bold rounded shadow-lg text-center" do %>
      Course +
  <% end %>
</div>

<div class="flex flex-col m-4 rounded-lg border-gray-300 border shadow-md ">
  <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
    <div class="align-middle inline-block min-w-full overflow-hidden rounded-lg">
      <table class="min-w-full">
        <thead>
          <tr>
            <th class="py-3 border-b border-gray-200 bg-gray-200 text-center text-xs bold leading-4 font-medium text-gray-900 uppercase tracking-wider">
              Course/Date
            </th>
            <th class="py-3 border-b border-gray-200 bg-gray-200 text-center text-xs bold leading-4 font-medium text-gray-900 uppercase tracking-wider">
              Score
            </th>
            <th class="py-3 border-b border-gray-200 bg-gray-200 text-center text-xs bold leading-4 font-medium text-gray-900 uppercase tracking-wider">
              Diff
            </th>
            <th class="py-3 border-b border-gray-200 bg-gray-200 text-center text-xs bold leading-4 font-medium text-gray-900 uppercase tracking-wider">
              Handi
            </th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <% @user.rounds.each do |round| %>
          <% round_presenter = RoundPresenter.new(round) %>
          <tr>
            <td class="pl-2 py-2 lg:py-6 whitespace-no-wrap border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">
                <%= course_name(round.course) %>
              </div>
              <div class="text-xs leading-5 text-gray-800 italic">
                <%= round.date.strftime("%b %e, %Y") %>
              </div>
            </td>
            <td class="px-2 py-2 lg:py-6 whitespace-no-wrap text-center border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">
                <%= round.score %>
              </div>
            </td>
            <td class="px-2 py-2 lg:py-6 whitespace-no-wrap text-center border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">
                <%= round_presenter.round_differential %>
              </div>
            </td>
            <td class="px-2 py-2 lg:py-6 whitespace-no-wrap text-center border-b border-gray-200">
              <div class="text-sm leading-5 text-gray-900">
                <%= round_presenter.handicap %>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
